{% extends 'base.html' %}

{% block styles %}   
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_for_create.css') }}">
 <script src="../static/javascript/validation.js"></script>
{% endblock %}

{% block navigation %}
    <li><a href="/">All Assessments</a></li>
    <li><a class="current" href="/Create_Assessment">Create Assessments</a></li>
    <li><a href="/Completed_Assessment">Completed Assessments</a></li>
    <li><a href="/Uncomplete_Assessment">Uncomplete Assessments</a></li>
    <li><a href="/Delete_Assessment">Delete Assessments</a></li>
{% endblock %}

{% block header %}
<h2>Create Assessments</h2>
{% endblock %}

{% block body %}
<div class="content row">
    <form action="/Create_Assessment" method="POST">
        <h4>Title</h4>
        <input type="text" name="Title" id="Title" placeholder="Coursework" required>
        <h4>Module Code</h4>
        <input type="text" name="Module" id="Module" placeholder="COMP2011" required>
        <h4>Deadline</h4>
        <input type="text" name="Deadline" id="Deadline" placeholder="yyyy-mm-dd" onkeyup="validation()" required>
        <h4>Description</h4>
        <textarea type="text" name="Description" id="Description" rows="8" placeholder="description" required></textarea>
        <input type="submit" value="Create" id="button">
    </form>
</div>
{% endblock %}