* {
    box-sizing: border-box;
}
body{	
    margin:0px;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items:center; 
    min-height:8vh;
    background-color:bisque;
    font-family: 'Poppins', sans-serif;

}
.LOGO{
    font-family: "apercu",sans-serif;
    text-transform:capitalize;
    letter-spacing: 5px;
    font-size: 20px; 
    color: rgb(163, 163, 4); ;
}
.nav-links{
    display:flex;
    width:30%;
    justify-content:space-around;
}.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color:rgb(163, 163, 4); 
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}
.burger div{
    width:25px;
    height:3px;
    color:rgb(163, 163, 4); 
    margin: 5px; 
}

.Introduction{
    border: 1px solid silver;
    background-color: aliceblue;
}
.email{
    font: 400 14px/16px Axiforma ,Arial,serif;
    color: #111215;
    max-height: 55px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    border: 1px solid rgba(185,190,199,.6);
    box-shadow: 0 19px 25px rgb(10 10 51 / 4%);
    transition: 0.5s;
}


.Introduction > p{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color: aliceblue;
    font-family: "Trocchi",serif;
}
.Description>p{
    text-align: justify;
}
a:hover{
    border-style:solid;
    color: blue;
}

.row::after {
    clear: both;
    display: table; 
}
.Description{
    border: 1px solid silver;
    max-width: fit-content;

}  
[class*="col-"] {
    float: left;
    padding: 15px;

}
.col-6 {
    width: 40%;
    min-width: 350px;
    max-width: 900px;
    margin: 25px 5%;
}
.col-12 {
    width: 100%;
}
.thumbnail {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
p{
    font-family: "Trocchi",serif;
}
.footer a::before{
    content:">>>";
}
.footer a::after{
    content:"<<<"; 
}
.footer{
    background-color:#071b4d;
    color: #fff;
    text-align: center;
}
.footer a:hover{
    border: solid;
    border-color: #fff;
    color: #fff;
}
.footer a{
    color: #fff;
}
@media (max-width: 900px) {
    .col-6 {
        min-width: initial;
        width:90%;
        margin: 10px 5%;
        border: none; 
        border-bottom: 1px solid silver;
    }
}