{% extends 'base.html' %}

{% block styles %}   
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_others.css') }}">
{% endblock %}

{% block navigation %}
    <li><a href="/">All Assessments</a></li>
    <li><a href="/Create_Assessment">Create Assessments</a></li>
    <li><a href="/Completed_Assessment">Completed Assessments</a></li>
    <li><a href="/Uncomplete_Assessment">Uncomplete Assessments</a></li>
    <li><a class="current"  href="/Delete_Assessment">Delete Assessments</a></li>
{% endblock %}

{% block header %}
<div class="line">
    <h2>Delete Assessments</h2>
</div>
{% endblock %}

{% block body %}
    {% for task in tasks %}
        <div class="content">
            <table>
                <tr>
                    <td class="title">{{ task.title }}</td>
                    <td>Deadline: {{ task.deadline }}</td>
                    <td>Module: {{ task.module }}</td>
                        {% if task.completed %}
                        <td>Status: Completed</td>
                        {% else %}
                        <td>Status: Uncomplete</td>
                        {% endif %}
                        <td class="description">Description: {{ task.description }}</td>

                </tr>
            </table>
            <form action="/Delete_Assessment/{{ task.id }}" method="POST">
                <input type="submit" value="Delete Assessments" id="button" >
            </form>
        </div>
    {% endfor %}
{% endblock %}